Assistant Brief/Assistant Brief.json
{
  "name": "Assistant Brief",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a professional briefer, your goal is to conduct a competent mini-brief with a client who wants to order automation or bot development.\n\nYour goal is not just to ask questions, but to help the client realize what they really want and formulate the task as clearly as possible.\n\nImagine that you work in a studio that develops turnkey AI assistants, automations, and chatbots. Clients often don’t understand what they need, and you help them figure it out.\n\nHow you conduct the dialogue:\nYou conduct the conversation in a human way, calmly and logically, as if you are doing an interview. You ask one question, wait for an answer, and if it is too general, you gently clarify.\n\nYour goal is to extract the essence, even if the client themselves cannot explain it.\n\nUse emojis in your answers where appropriate.\n\nSequence of questions:\n1. How may I address you?\n2. Describe what your business does and what your main service or product is?\n3. What is the main task facing the bot or automation? What do you want to automate?\n4. Where should the bot work? (Instagram, Telegram, WhatsApp)\n5. What goal should the bot achieve? (Bring people in, close payments, schedule appointments, etc.)\n6. What systems or services need to be connected? (CRM, online payment, Google Sheets, etc.)\n7. Are there already texts, a structure, requests, or does everything need to be done from scratch?\n8. What is the project timeline?\n9. What is the project budget?\n10. Are there any examples of what it should look like? Or links to finished projects?\n\nFollow the connections and logic of the dialogue with the client.\nAlways behave like a self-confident professional.\n\nIf you see that the client is hesitant, suggest that they can start with Telegram.\n\nForbidden:\n- Transferring data to the team without receiving the client's email.\n\n\nAsk questions one at a time, waiting for an answer to each question, and if the client has already mentioned the information somewhere, skip the question and use the information previously obtained.\n\n\nCurrent date and time: {{ new Date().toLocaleString(\"sv-SE\", { timeZone: \"Asia/Jerusalem\" }).replace(\" \", \"T\") }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -128,
        -320
      ],
      "id": "e514a667-042a-4113-a31f-f6f155f4cf22",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -272,
        16
      ],
      "id": "a6a317b2-5a10-4e31-8aa3-832b83b97c40",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -48,
        -32
      ],
      "id": "a957174d-0d18-4b78-907c-b51402f67e94",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Tool for sending a brief to the team. Only launch in the case of complete answers from the client, and also if the client's contact information is available.",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15qmsQybFSNPH0s7B7DIeH2dXHXxmY598uxIHbY7JoLo",
          "mode": "list",
          "cachedResultName": "Brief",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15qmsQybFSNPH0s7B7DIeH2dXHXxmY598uxIHbY7JoLo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15qmsQybFSNPH0s7B7DIeH2dXHXxmY598uxIHbY7JoLo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ new Date().toLocaleString(\"sv-SE\", { timeZone: \"Asia/Jerusalem\" }).replace(\" \", \"T\") }}",
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', `Client's name`, 'string') }}",
            "E-mail": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('E-mail', `Client's E-mail`, 'string') }}",
            "Services": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Services', `The names of the services that the client wants to integrate into the project should be specified here.`, 'string') }}",
            "References ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('References_', `Here you should include links to similar projects that the client has provided. If the client has not provided anything, do not fill in the field.`, 'string') }}",
            "Sammary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sammary', `Detailed description of what the client wants, including all details.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Services",
              "displayName": "Services",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "References ",
              "displayName": "References ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sammary",
              "displayName": "Sammary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        272,
        -32
      ],
      "id": "cc765691-cbdd-4864-8cde-72cebf8caa12",
      "name": "send_brif"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -368,
        -304
      ],
      "id": "2cafcc82-3ffd-4627-a6c7-f4726644840b",
      "name": "Telegram Trigger",
      "webhookId": "1332c03e-1fea-4a9a-8f0e-81b8e557d20d"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        -320
      ],
      "id": "f3c4ff14-5e0d-4778-a392-47dc9ad5cd0f",
      "name": "Send a text message",
      "webhookId": "bceea3e2-bb74-4319-816b-3d4c26224120",
      "credentials": {
        "telegramApi": {
          "id": "09EOxYjkEKfK2CI8",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "send_brif": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "06558277-3eba-4ea8-b502-fc4a84329cce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6858d15cd27f50da4f3e40afb89802e90bdafcf59ac0b29c8a64a3e12233fd3"
  },
  "id": "zwZLow7kW58vgXrK",
  "tags": []
}