manager/Calendar .json
{
  "name": "Calendar copy",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        -144
      ],
      "id": "d1630ddf-0d8a-4cd6-834b-75002820d138",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=You manage Google Calendar.\n\nYour task is to understand from the request whether you need to create/get/update/delete any events from the calendar.\n\nUse your tools in the correct and logical order for the best result.\n\nAnswers should be detailed, and provide links to events if you create or change them.\n\nCurrent date and time: {{ new Date().toLocaleString(\"sv-SE\", { timeZone: \"Asia/Jerusalem\" }).replace(' ', 'T') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -32,
        -208
      ],
      "id": "07f4f9ed-5ab9-4e79-9c02-de7b8bc49c1c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -192,
        144
      ],
      "id": "c0930405-5e30-4676-8246-a7500158723c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wcUOZtrqnSSwcpgv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1",
        "contextWindowLength": 200
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        112
      ],
      "id": "f426ca1e-9d0e-47f7-978f-44cb3d44c0af",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Tool to create a new event in Google Calendar",
        "calendar": {
          "__rl": true,
          "value": "lisuenii@gmail.com",
          "mode": "list",
          "cachedResultName": "lisuenii@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Specify the time according to Thailand (date/time for Google Calendar)`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Specify the time according to Thailand (date/time for Google Calendar)`, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Specify a clear and logical description of the event.`, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Specify a clear and logical title of the event.`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        256,
        80
      ],
      "id": "800ff559-72db-4ac4-b01d-cac9bef20298",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YJR9PLLHsth6aF2e",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Tool for getting one or more events from Google Calendar",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "lisuenii@gmail.com",
          "mode": "list",
          "cachedResultName": "lisuenii@gmail.com"
        },
        "limit": "=50",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `Specify the time according to Thailand (date/time for Google Calendar).`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `Specify the time according to Thailand (date/time for Google Calendar).`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        656,
        -32
      ],
      "id": "23927f0c-f7f7-406a-a094-1251da657531",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YJR9PLLHsth6aF2e",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Tool for delete an event in Google Calendar. Call only after receiving event data.",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "lisuenii@gmail.com",
          "mode": "list",
          "cachedResultName": "lisuenii@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        496,
        208
      ],
      "id": "1145983d-7bf6-4c49-afff-1e22a4dd0e22",
      "name": "Delete an event in Google Calendar"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Tool to update events from Google Calendar, call only when event data is received.",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "lisuenii@gmail.com",
          "mode": "list",
          "cachedResultName": "lisuenii@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        96,
        240
      ],
      "id": "db0282cc-ad3f-4b95-b8a7-adc2164ab772",
      "name": "Update an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YJR9PLLHsth6aF2e",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Hello Calendar team — please create this event on the user's PRIMARY Google Calendar and return the created event details (event ID, htmlLink, conferenceData entry/Meet link if available, start and end timestamps with timezone, and any errors or notes):\n\n1) What to create:\n- Title: \"Team call\"\n- Date: 2026-02-25\n- Start: 2026-02-25T10:00:00 (user's default timezone)\n- End: 2026-02-25T11:00:00 (user's default timezone)\n- Description: \"Call with the team — added by the assistant on user's request.\"\n- Conferencing: please create a Google Meet link and include it in the event (conferenceData.createRequest if needed).\n- Reminders: add a pop-up notification 10 minutes before the start AND an email reminder 30 minutes before.\n- Guests: DO NOT add any guests automatically. If guest emails are provided later, we will add them.\n- Visibility: default calendar visibility.\n\n2) Why: The user asked their assistant to \"Tomorrow at 10 a.m. a call with the team, write it down!\" — we must schedule this call for tomorrow.\n\n3) Return format: please reply with a JSON object containing these fields:\n{\n  \"status\": \"success\" or \"error\",\n  \"eventId\": \"...\",\n  \"htmlLink\": \"...\",\n  \"meetLink\": \"...\" or null,\n  \"start\": \"2026-02-25T10:00:00Z or with timezone\",\n  \"end\": \"2026-02-25T11:00:00Z or with timezone\",\n  \"reminders\": [ {\"method\":\"popup\",\"minutes\":10}, {\"method\":\"email\",\"minutes\":30} ],\n  \"notes\": \"any errors or important notes\"\n}\n\nIf Meet creation is disabled for this account, set \"meetLink\": null and put explanation in notes. If any field cannot be set, note that clearly in \"notes\".\n\nThanks — please confirm when done."
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6c302bd6-ae30-40d4-a94c-ef293deed0ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6858d15cd27f50da4f3e40afb89802e90bdafcf59ac0b29c8a64a3e12233fd3"
  },
  "id": "fSP2WWLy2tz0XMBf",
  "tags": []
}