manager/Todoist.json
{
  "name": "Todoist copy",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -560,
        -336
      ],
      "id": "b0f59ba4-991e-4eb3-bbd9-72a6d9feb4a9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=You manage Todoist.\n\nYour task is to understand from the request whether you need to create/get/update/delete any events from the Todoist.\n\nUse your tools in the correct and logical order for the best result.\n\nAnswers should be detailed, and provide links to events if you create or change them.\n\nCurrent date and time: {{ new Date().toLocaleString(\"sv-SE\", { timeZone: \"Asia/Jerusalem\" }).replace(' ', 'T') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        -384
      ],
      "id": "c5f5c2f2-f318-492e-823c-d3efeb470499",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -416,
        -176
      ],
      "id": "7d2a0dd5-af4d-496c-b7b0-70840c50861c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wcUOZtrqnSSwcpgv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "2",
        "contextWindowLength": 45
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -160,
        -240
      ],
      "id": "21adcd9c-5ff6-451c-b98a-07cf78c42ee1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Tool for create a new task",
        "authentication": "oAuth2",
        "project": {
          "__rl": true,
          "value": "6g4q2GqMfqxm3Qrq",
          "mode": "list",
          "cachedResultName": "task,"
        },
        "labels": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names', ``, 'string') }}",
        "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Content', ``, 'string') }}",
        "options": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "dueDateTime": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Date_Time', `Use RFC3339 format in UTC by Israel`, 'string') }}",
          "dueString": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_String', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.todoistTool",
      "typeVersion": 2.2,
      "position": [
        -432,
        96
      ],
      "id": "dd850da2-33f0-4028-be75-20d73c0b7afb",
      "name": "Create a task in Todoist",
      "credentials": {
        "todoistOAuth2Api": {
          "id": "d1H1k2AXbNHTO5pR",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Delete a task in Todoist, run only after get data about tasks",
        "authentication": "oAuth2",
        "operation": "delete",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.todoistTool",
      "typeVersion": 2.2,
      "position": [
        -160,
        80
      ],
      "id": "64103e1e-c9b3-4972-8882-f28160d06a05",
      "name": "Delete a task in Todoist",
      "credentials": {
        "todoistOAuth2Api": {
          "id": "d1H1k2AXbNHTO5pR",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Close a task in Todoist",
        "authentication": "oAuth2",
        "operation": "close",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.todoistTool",
      "typeVersion": 2.2,
      "position": [
        32,
        96
      ],
      "id": "535bed87-a41b-40d2-a57c-1146a62e1385",
      "name": "Close a task in Todoist",
      "credentials": {
        "todoistOAuth2Api": {
          "id": "d1H1k2AXbNHTO5pR",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Tool for get information about one task, run only after get data about task",
        "authentication": "oAuth2",
        "operation": "get",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.todoistTool",
      "typeVersion": 2.2,
      "position": [
        192,
        48
      ],
      "id": "232f9d02-c0b2-4ddb-bd18-ac6531f5d208",
      "name": "Get a task in Todoist",
      "credentials": {
        "todoistOAuth2Api": {
          "id": "d1H1k2AXbNHTO5pR",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get many tasks in Todoist",
        "authentication": "oAuth2",
        "operation": "getAll",
        "filters": {
          "filter": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter', ``, 'string') }}",
          "lang": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Lang', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.todoistTool",
      "typeVersion": 2.2,
      "position": [
        368,
        0
      ],
      "id": "71c24fbc-0bd5-4bb0-9161-52cc7e0c8805",
      "name": "Get many tasks in Todoist",
      "credentials": {
        "todoistOAuth2Api": {
          "id": "d1H1k2AXbNHTO5pR",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update a task in Todoist, run only after get new data about task",
        "authentication": "oAuth2",
        "operation": "update",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}",
        "updateFields": {
          "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Content', ``, 'string') }}",
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "dueDateTime": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Date_Time', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.todoistTool",
      "typeVersion": 2.2,
      "position": [
        576,
        -32
      ],
      "id": "c0838528-bf01-40fe-b34e-7ebd6d7fce2b",
      "name": "Update a task in Todoist"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Просьба (подробно): выдать список всех открытых (не выполненных) задач пользователя и вернуть структурированный ответ. Контекст: я — личный помощник, буду показывать владельцу (через Telegram) актуальный список задач. Что нужно сделать и почему: собрать все открытые задачи, чтобы пользователь видел — что просрочено, что на сегодня, что на следующую неделю и что без даты. Требования к формату ответа: сгруппируйте задачи по категориям: \"overdue\" (просроченные), \"today\" (на сегодня), \"week\" (на следующую неделю — с завтрашнего дня до 7 дней включительно), \"no_date\" (без даты). Для каждой задачи верните объект с полями: 1) id (строка); 2) content (название задачи); 3) project (название проекта); 4) priority (1-4 или null); 5) due_date (ISO 8601 дата и время, или null); 6) has_reminder (true/false); 7) description (строка или null); 8) labels (массив строк). Укажите текущую временную метку для расчётов: 2026-02-24T15:13:42Z. Только открытые задачи. Если задачи в категории отсутствуют, верните пустой массив. Формат ответа: чистый JSON-объект с ключами \"overdue\",\"today\",\"week\",\"no_date\". Спасибо."
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create a task in Todoist": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete a task in Todoist": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Close a task in Todoist": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a task in Todoist": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many tasks in Todoist": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a task in Todoist": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4d9a8e42-8d94-4242-9acf-a2702879b2bf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6858d15cd27f50da4f3e40afb89802e90bdafcf59ac0b29c8a64a3e12233fd3"
  },
  "id": "u7yw6MhnawuVVMVf",
  "tags": []
}